{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="index-banner" class="parallax-container index " data-vide-bg="{% static 'vid/v' %}" data-vide-options="loop: false, muted: false, position: 0% 0%">
    <div class="section pad">
      <div class="container">

        
        <div class="row">
          <div class="col m8">
          <h1 class="header light" data-sr>Stay High</h1>
          <!--<div class="hr_index blue"></div>-->
          <h5 class="header bold" data-sr>Wake up ! Suit up ! Party !</h5>
          </div>

          <div class="col m4 center">
          <img src="{% static 'img/logo.png' %}" width="200px">
          </div>
        </div>
       
        <br><br>

      </div>
    </div>
    <!--<div class="parallax"><img src="{% static 'img/3.jpg' %}" alt="Unsplashed background img 2"></div>-->
  </div>

<div class="relative">
   <div class="center scroll-down row">
          <a class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-hardware-keyboard-arrow-down"></i></a>
    </div>


  <div class="container">
    <div class="section pad">


      <div class="row">

        <div class="col s12 m8 offset-m2 center">
        <!--<i class="mdi-image-flash-on rounded"></i>-->
        <h3 class="blue-text" data-sr>We love you biatch!</h3>
        <p class="flow-text" data-sr> We get to work on those ideas and projects we really want to work on, fueled by developers, designers and project managers we get to have a blast while crafting wicked cool products. </p>
        <a class="waves-effect waves-light btn-large"><i class="mdi-image-camera left"></i>Voir l'équipe</a>

        </div>

      </div>
            

      <!--   Icon Section   -->
      

    </div>
  </div>
</div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">Nous pouvons relever vos défis !</h3>
          <a class="waves-effect waves-light btn-large red"><i class="mdi-action-thumb-up right"></i>Les défis</a>


        </div>
      </div>
    </div>

    <div class="parallax"><img src="{% static 'img/group2.min.jpg' %}" alt="Unsplashed background img 2"></div>

  </div>

  <div class="container">
    <div class="section">


      <div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="card-panel center">
              <h4 class="blue-text" data-sr>Contact Us</h4>
              <p class="light" data-sr>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          </div>
        </div>
      </div>


    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">De la moquette, encore de la moquette et toujours plus de moquette !</h5>
        </div>
      </div>
    </div>

    <div class="parallax"><img src="{% static 'img/moquette.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>
{% endblock content %}


{% block script %}
<script src="{% static 'plugin/Vide-0.3.0/dist/jquery.vide.min.js' %}"></script>

{% endblock %}

   