{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% block content %}
  <div id="index-banner" class="parallax-container" >
    <div class="section no-pad-bot" data-start="opacity: 1" data-300="opacity: 0" >
      <div class="container">
        <br><br>
        <h1 class="header center">Les Pôles</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/group.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>



<div id="skrollr-body" data-0="background-position:0px 0px;" data-100000="background-position:0px -50000px;">
  <div class="container">
    <div class="section">

            <h2 class="center-align gold-text ">Le Bureau</h1>

            <div class="row" id="bureau">

            <div class="col m4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/baha.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Baha "Baba"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Prez'<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>

            <div class="col m4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/massilia.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Massilia "Intouchable"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Vice Prez'<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
              </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/maximilien.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Maximilien "Battar"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Vice Prez'<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>

          </div>

          <div class="row">
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/mathieu.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mathieu "Le Tyran"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Trez'<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>

            </div>
            <div class="col m4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/rajdip.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Rajdip "₹aj"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Vice Trez'<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col m4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/clement.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Clément "Villaine"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Secrétaire<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
          </div>

          <div class="row" id="soiree">
            <h2 class="center-align gold-text ">Pôle soirée</h2>

            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/pierrick.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Pierrick "Smile"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/florian.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Florian "Flow"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
              </div>
            <div class="col m4 offset-m2">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/thomasl.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Thomas "Pirate"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/adrien.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Adrien "007"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>

            </div>
          </div>

          <div class="row" id="com">
            <h2 class="center-align gold-text " >Pôle com'</h2>

            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/auxane.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Auxane "Neu-Neu"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/omar.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Omar "LeVice"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
              </div>
            </div>
          </div>


          <div class="row" id="voyage">
            <h2 class="center-align gold-text ">Pôle voyage</h2>
            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/vy.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Vy "Trésor"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/mama.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mama "Mama"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col m4 offset-m2">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/romain.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Romain "Trash"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>

            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/alexis.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Alexis "MrPanda"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
              </div>

          <div class="row" id="event">
            <h2 class="center-align gold-text ">Pôle event</h2>
            <div class="col m4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/quentin.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Quentin "Crevette"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/laetitia.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Laetitia "Titoune"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/mathilde.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mathilde "Matou"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
              </div>


          <div class="row" id="anim">
            <h2 class="center-align gold-text ">Pôle Anim'</h2>
            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/rayane.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Rayane "Colonel Moutarde"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/cem.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cem "Slim"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col m4 offset-m2">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/thomasc.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Thomas "Gravity"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/karim.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Karim "Sheitan"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
          </div>

          <div class="row" id="logistique">
            <h2 class="center-align gold-text ">Pôle Logistique</h1>
            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/maxime.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Maxime "Zomby"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/jugurtha.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Jugurtha "L'éplucheur"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
          </div>

          <div class="row">
            <h2 class="center-align gold-text ">Pôle Entreprises</h1>
            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/jeanpaul.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Jean Paul "El Padre"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/adrien.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Adrien "Vomi-K"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>

            <div class="col m4 offset-m2">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/jihane.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Jihane "Coco"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>

            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/kays.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Kays "Fantôme"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
          </div>



            </div>


          </div>

    </div>
  </div>

</div>

{% endblock content %}


{% block script %}

<script type="text/javascript">
$('nav #poles_nav').addClass('active');

</script>

<script>
var options = [
  {selector: '#bureau', offset: 500, callback: 'toast("Voici les plus beaux ! OMG !", 2500 )' },
  {selector: '#soiree', offset: 500, callback: 'toast("Voici les + fetards !", 2500 )' },
  {selector: '#com', offset: 500, callback: 'toast("Ils parlent trop", 2500 )' },
  {selector: '#event', offset: 500, callback: 'toast("y\'a bcp de membres", 2500 )' },
  {selector: '#anim', offset: 500, callback: 'toast("Y\'en a trop, j\'en ai marre !", 2500 )' },
];
scrollFire(options);

</script>
{% endblock script %}
