{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% block content %}
  <div id="index-banner" class="parallax-container" >
    <div class="section no-pad-bot" data-start="opacity: 1" data-300="opacity: 0" >
      <div class="container">
        <br><br>
        <h1 class="header center"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/group.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>



<div id="skrollr-body" data-0="background-position:0px 0px;" data-100000="background-position:0px -50000px;">
  <div class="container">
    <div class="section">

            <h2 class="center-align gold-text ">Le Bureau</h2>

            <div class="row" id="bureau">
            <div class="col m4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/baha.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Baha "Baba"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Prez'<i class="mdi-navigation-close right"></i></span>
                  <p class="flow-text">Finalement, "Chantal le cheval" c'est cool !</p>
                </div>
              </div>
            </div>

            <div class="col m4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/massilia.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Massilia "Intouchable"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Vice Prez'<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">J'ai offert ma main à mon mari mais j'offre mon corps à la liste !</p>
                      </div>
                    </div>
              </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/maximilien.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Maximilien "Battar"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Vice Prez'<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Vous inquiétez pas, avec moi ça va gazer.</p>
                      </div>
                    </div>
            </div>

          </div>

          <div class="row">
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/mathieu.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mathieu "Le Tyran"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Trez'<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Une description? Pourquoi faire? Moi je veux de l'argent !</p>
                      </div>
                    </div>

            </div>
            <div class="col m4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/rajdip.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Rajdip "₹aj"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Vice Trez'<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">La vie rend pas ouf !<br/>#LeNoyau</p>
                      </div>
                    </div>
            </div>
            <div class="col m4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/clement.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Clément "Villaine"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Secrétaire<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Aujourd'hui j'ai envie d'être Villaine: j'ai le même prénom pourri que Zaza.</p>
                      </div>
                    </div>
            </div>
          </div>

          <div class="row" id="soiree">
            <h2 class="center-align gold-text ">Pôle Soirée</h2>

            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/pierrick.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Pierrick "Smile"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p class="flow-text">Sourire d'enfer ! <br/>
                                        Ma vie devient compliquée <br/>
                                        Histoires de cœur ! <br/>
                                        J'aime mieux ne pas en parler <br/>
                                        Adolescence ! <br/>
                                        Tout finit par s'arranger <br/>
                                        <br/>#LeNoyau
                  </p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/florian.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Florian "Flow"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Chinois numéro 1 au rapport !<br/>#LeNoyau</p>
                      </div>
                    </div>
              </div>
            <div class="col m4 offset-m2">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/thomasl.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Thomas "Pirate"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Venez avec moi à la chasse au Trésor !<br/>#LeNoyau</p>
                      </div>
                    </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/adriens.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Adrien "007"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Hey les mecs, en face y'a une autre liste !<br/>#LeNoyau</p>
                      </div>
                    </div>

            </div>
          </div>

          <div class="row" id="com">
            <h2 class="center-align gold-text" >Pôle Com'</h2>

            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/auxane.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Auxane "Neu-Neu"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p class="flow-text">Ne vous moquez pas de mon rire... Groin Groin</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/omar.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Omar "LeVice"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Je mange du porc sauf pendant le ramadan</p>
                      </div>
                    </div>
              </div>
            </div>


          <div class="row" id="voyage">
            <h2 class="center-align gold-text ">Pôle Voyage</h2>
            <div class="col m4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/vy.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Vy "Trésor"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p class="flow-text">Vous auriez pas vu mon ticket?</p>
                </div>
              </div>
            </div>

            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/romain.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Romain "Trash"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Si quelqu'un le voit, merci de nous contacter</p>
                      </div>
                    </div>
            </div>

            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/alexis.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Alexis "MrPanda"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Voil'eisti rouvre, en route vers les pandas et les gros bambous !</p>
                      </div>
                    </div>
            </div>
              </div>

          <div class="row" id="event">
            <h2 class="center-align gold-text">Pôle Event</h2>
            <div class="col m4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/quentin.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Quentin "Crevette"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p class="flow-text">Le seul mec capable de se perdre entre les lauréades et l'EISTI. DU-PER !<br/>#LeNoyau</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/laetitia.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Laetitia "Titoune"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Djindobre mademoiselle Peles.. euh.. <br>Djindobre Titoune ;)</p>
                      </div>
                    </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/mathilde.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mathilde "Matou"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Le dada au quotidien y'a que ça de bien !</p>
                      </div>
                    </div>
            </div>
              </div>


          <div class="row" id="anim">
            <h2 class="center-align gold-text ">Pôle Anim'</h2>
            <div class="col m4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/rayane.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Rayane "Colonel Moutarde"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p class="flow-text">Je soupçonne le Colonel Moutarde d’avoir empoisonné le Dr. Lenoir dans la salle à manger</p>
                </div>
              </div>
            </div>
            <div class="col m4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/cem.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Cem "Slim"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                  <p class="flow-text">L'apéro, l'haltéro c'est à peu près pareil non?</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/thomasc.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Thomas "Gravity"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">"T'es pas bonne si t'as pas d'fesses, t'as walou"</p>
                      </div>
                    </div>
            </div>
          </div>

          <div class="row" id="logistique">
            <h2 class="center-align gold-text">Pôle Logistique</h1>
            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/maxime.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Maxime "Zomby"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p class="flow-text">Hein.. quoi? Mais non je ne dors pas :/</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/jugurtha.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Jugurtha "L'éplucheur"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">J'en ai gros sur la patate</p>
                      </div>
                    </div>
            </div>
          </div>

          <div class="row" id="entreprise">
            <h2 class="center-align gold-text ">Pôle Entreprise</h1>
            <div class="col m4 offset-m2">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/jeanpaul.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Jean Paul "El Padre"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title gold-text">Respo<i class="mdi-navigation-close right"></i></span>
                  <p class="flow-text">Marié, deux enfants<br>Chasseur de diplômes !</p>
                </div>
              </div>
            </div>
            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/adrien.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Adrien "Vomi-K"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Faire deux choses à la fois n'est pas réservé qu'aux femmes.<br/>#LeNoyau</p>
                      </div>
                    </div>
            </div>

            <div class="col m4 offset-m2">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/jihane.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Jihane "Coco"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">50 nuances de sushis</p>
                      </div>
                    </div>
            </div>

            <div class="col m4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/kays.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Kays "Fantôme"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title gold-text">Membre<i class="mdi-navigation-close right"></i></span>
                        <p class="flow-text">Scarface, toujours un tournevis dans la main</p>
                      </div>
                    </div>
            </div>
          </div>



            </div>


          </div>

    </div>
  </div>

</div>

{% endblock content %}


{% block script %}

<script type="text/javascript">
$('nav #poles_nav').addClass('active');

</script>

<script>
var options = [
  {selector: '#bureau', offset: 500, callback: 'toast("Voici les plus beaux ! OMG !", 2500 )' },
  {selector: '#soiree', offset: 500, callback: 'toast("Voici les + fetards !", 2500 )' },
  {selector: '#voyage', offset: 500, callback: 'toast("On vous emmène au 7ème ciel !", 2500 )' },
  {selector: '#com', offset: 500, callback: 'toast("Ils parlent trop", 2500 )' },
  {selector: '#event', offset: 500, callback: 'toast("Il se passe quoi?", 2500 )' },
  {selector: '#anim', offset: 500, callback: 'toast("Viens t\'enjailler !", 2500 )' },
  {selector: '#logistique', offset: 500, callback: 'toast("T\'inquiète, on gère !", 2500 )' },
  {selector: '#entreprise', offset: 500, callback: 'toast("Ah ! Ça grate de la thune !", 2500 )' },
];
scrollFire(options);

</script>
{% endblock script %}
