{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% block content %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center">Les Poles</h1>
        <div class="row center">
          <h5 class="header col s12 light">Blabla</h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/group.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container">
    <div class="section">

            <h2 class="center-align">Le Bureau</h1>

            <div class="row" id="bureau">

            <div class="col s4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/major.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Baha "Baba"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Prez'<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>

            <div class="col s4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Massilia "Intouchable"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Vice Prez'<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
              </div>
            <div class="col s4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Maximilien "Battar"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Vice Prez'<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>

          </div>

          <div class="row">
            <div class="col s4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mathieu "Le Tyran"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Trez'<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>

            </div>
            <div class="col s4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Rajdip "₹aj"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Vice Trez'<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col s4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Clément "Villaine"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Secrétaire<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
          </div>

          <div class="row" id="soiree">
            <h2 class="center-align">Pôle soirée</h1>

            <div class="col s6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/major.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Pierrick "Smile"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Florian "Flow"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
              </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Thomas "Pirate"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Adrien "007"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>

            </div>
          </div>

          <div class="row" id="com">
            <h2 class="center-align" >Pôle com'</h1>

            <div class="col s6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/major.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Auxane "Neu-Neu"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Omar "LeVice"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
              </div>
            </div>
          </div>


          <div class="row" id="voyage">
            <h2 class="center-align">Pôle voyage</h1>
            <div class="col s6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/major.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Vy "Trésor"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mama "Mama"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Romain "Trash"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>

            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Alexis "MrPanda"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
              </div>

          <div class="row" id="event">
            <h2 class="center-align">Pôle event</h1>
            <div class="col s4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/major.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Quentin "Crevette"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col s4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Laeticia "Titoune"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col s4">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mathilde "Matou"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
              </div>


          <div class="row" id="anim">
            <h2 class="center-align">Pôle Anim'</h1>
            <div class="col s6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/major.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Rayane "Colonel Moutarde"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cem "Slim"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Thomas "Gravity"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Karim "Sheitan"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
          </div>

          <div class="row" id="logistique">
            <h2 class="center-align">Pôle Logistique</h1>
            <div class="col s6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/major.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Maxime "Zomby"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Jugurtha "L'éplucheur"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
          </div>

          <div class="row">
            <h2 class="center-align">Pôle Entreprises</h1>
            <div class="col s6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/major.jpg' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Jean Paul "El Padre"<i class="mdi-navigation-more-vert right"></i></span>
                  <!--<p><a href="#">This is a link</a></p>-->
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Respo<i class="mdi-navigation-close right"></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Adrien "Vomi-K"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>

            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Jihane "Coco"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>

            <div class="col s6">

                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/major.jpg' %}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Kays "Fantôme"<i class="mdi-navigation-more-vert right"></i></span>
                        <!--<p><a href="#">This is a link</a></p>-->
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Membre<i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
            </div>
          </div>



            </div>


          </div>

    </div>
  </div>


{% endblock content %}


{% block script %}
<script>
console.log($('#bureau').offset().top);

var options = [
  {selector: '#bureau', offset: 500, callback: 'toast("Voici les plus beaux ! OMG !", 1500 )' },
  {selector: '#soiree', offset: 500, callback: 'toast("Voici les + fetards !", 1500 )' },
  {selector: '#com', offset: 500, callback: 'toast("Ils parlent trop", 1500 )' },
  {selector: '#event', offset: 500, callback: 'toast("y\'a bcp de membres", 1500 )' },
  {selector: '#anim', offset: 500, callback: 'toast("Y\'en a trop, j\'en ai marre !", 1500 )' },
];
scrollFire(options);

</script>
{% endblock script %}
