{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% block content %}
  <div id="index-banner" class="parallax-container voyages">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">Les voyages</h1>
        <div class="row center">
          <h5 class="header col s12 light">Partez à l'aventure !</h5>
        </div>

        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/3.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container">
        <div class="card" class="white">
          <div class="card-content">
            <h2 class="center">Direction Agadir !</h2>
            <div class="row">

              <div class="col m5">
                <img class="responsive-img" data-caption="A picture of some deer and tons of trees" width="100%" src="{% static 'img/agad.jpg' %}">
              </div>
              <div class="col m7">
                    

                        <blockquote>
                          <p class="flow-text">Bars, Pubs, boîtes de nuit, ton futur BDE te promet un voyage mémorable !</p>
                        </blockquote>
                <p class="flow-text">Le climat exceptionnel d'Agadir, plus de <b>300 jours de soleil par an</b>, et sa <b>longue plage de 10 km</b>, plus abritée que de nombreuses plages de la côte atlantique, vous assureront <b>une semaine exceptionnelle</b> au bord de la mer.</p>
<!--
                <p class="flow-text">
Viens vivre des aventures délirantes au rythme de ses quartiers animés, ou simplement partager un moment privilégié avec tes amis. Envie de plus de folie ? Stay High te garantit des soirées à n’en plus finir !! Bars, Pubs, boîtes de nuit, ton futur BDE te promet un voyage mémorable !</p>

-->
          

              </div>
            </div>
          </div>
        </div>
</div>


<div class="container">
        <div class="card" class="white">
          <div class="card-content">
            <h2 class="center">Semaine à La Plagne</h2>
            <div class="row">

              <div class="col m7">
                  <blockquote>
                          <p class="flow-text">132 pistes de ski sur plus de 200 km et de nombreuses soirées pour remplir vos nuits.</p>
                  </blockquote>
                <p class="flow-text">Envie de skier ? Alors direction <b>La Plagne</b> pour dévaler les pistes. Stay high te prépare un <b>cocktail explosif</b> pour cette <b>semaine hors du commun</b> avec de nombreuses activités annexes telles que le parapente, la motoneige ou encore la plongée sous glace.</p>
                
              </div>
              <div class="col m5">
                <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees" src="{% static 'img/ski.jpg' %}">
              </div>
            </div>
          </div>
        </div>
</div>

  <div class="container">
        <div class="card" class="white">
          <div class="card-content">
            <h2 class="center">WE d'intégration</h2>
            <div class="row">

              <div class="col m5">
                <img class="responsive-img" data-caption="A picture of some deer and tons of trees" width="100%" src="{% static 'img/we.jpg' %}">
              </div>
              <div class="col m7">
                <p class="flow-text">Et le weekend d’intégration ? Chez Stay High, nous te proposons un <b>WEI inoubliable dans un cadre unique</b>. Un lieu qui saura enflammer ce weekend exceptionnel ! </p>
                  <blockquote>
                          <p class="flow-text">Drogue interdite, LSD autorisé, sortez couvert <3</p>
                  </blockquote>
              </div>
            </div>
          </div>
        </div>
</div>

<br>
<br>
  </div>


{% endblock content %}


{% block script %}
<script>
$('nav #voyages_nav').addClass('active');
</script>
{% endblock script %}
